<p>Living in a foreign country has never been easy and obviously, you seek more and more information to get settled. Nothing is easy to start off with. Feelings of being left alone with all kind of difficulties are not uncommon. Many of us have already experienced the same.

I have made this website to help all my fellow Indians who have crossed the miles and have decided to live in Germany. The goal of this web-site is not only to provide information for a smooth and easy integration to this country but also make your entire stay comfortable.

</p>