<nav class="ulNav navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container" *ngIf="(headerState.tabs | async)">
      <a class="navbar-brand" routerLink='/'>Wien Smart City</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item" 
          [ngClass]="{'dropdown':(tab?.children && tab?.children?.length > 0)}"
             *ngFor="let tab of (headerState.tabs | async);let indx = index">
            <a class="nav-link navAnchor" *ngIf="(!tab?.children)"  [attr.id]="tab.displayName" routerLink="{{tab.url}}">{{tab.displayName}}</a>
            <a class="nav-link navAnchor dropdown-toggle" *ngIf="(tab?.children && tab?.children?.length > 0)"  [attr.id]="tab.displayName" routerLink="{{tab.url}}">{{tab.displayName}}</a>
            <app-tabs-component class="tabcls" *ngIf="(tab?.children)" [navItems]="tab?.children"></app-tabs-component>
          </li>
         
         </ul>
      </div>
    </div>
  </nav>
